@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;

 }
#content {
    max-width: 1600px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}



/* #content */
#hero-msg h1 {
    text-align: center;
    line-height: 1.5em;
    /* background-color: #6f7364; */
    font-family: 'Rozha One',  Georgia, serif;
    
    
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}


.main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
    
}
#background {
    height: 725px;
    background-color: aqua;
}

body {
    background-color: #ade8f4;
}

header {

    background-color: #1b3a4b;
    
}

nav a {
    text-align: center;
    /* display: block; */
    height: 48px;
    color: #21a6ff;
    text-decoration: none;
    padding: 35px;

}

nav a:hover {
    background-color: #21a6ff;
    color: #0062a3;
    
   
}

.book {
    background-color: #00afb9;
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'open sans', Helvetica, sans-serif ;
    margin-top: 50px;
    border-radius: 5px;
}


.book:hover {
    background-color: #00949c;
    color: #ffffff;

}






#background {
    background-color: #f4f1bb;

}

.msg {
    background-color: #f4f1bb;
    padding: 35px;
}







.home-title {
    color: #122c3d;
    font-family: 'Rozha One',  Georgia, serif;
    font-size: 2em;
    margin-top: 10px;


}

h4 {
    color: #122c3d;
}





.join {
    background-color: #00afb9;
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color: #00949c;
    color: #ffffff;

}

.msg h2 {
    color: #012a4a;
    font-family: 'Rozha One',  Georgia, serif;

}

.msg p {
    color: #122c3d;
    font-size: 8em;
    font-family: 'open sans', Helvetica, sans-serif;
    padding-bottom: 15px;
    
}
.rivers-card, .camping-card, .rapids-card  {  
    margin: 200px 0;

}

.card-img {
    border: 10px solid #111111;
}
/* .rapids-card  {
    margin: 200px 0;
} */

footer {
    color: #122c3d;
    background-color: #1b3a4b;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #57cc99;

}

footer p {
    color: #ffffff;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;

}  

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}